[submodule "preprocess"]
	path = preprocess
	url = https://github.com/swook/faze_preprocess
[submodule "demo/ext/eos"]
	path = demo/ext/eos
	url = https://github.com/patrikhuber/eos
[submodule "demo/ext/HRNet-Facial-Landmark-Detection"]
	path = demo/ext/HRNet-Facial-Landmark-Detection
	url = https://github.com/HRNet/HRNet-Facial-Landmark-Detection
[submodule "demo/ext/mtcnn-pytorch"]
	path = demo/ext/mtcnn-pytorch
	url = https://github.com/TropComplique/mtcnn-pytorch
